# Default owners for RFCs repository
*       @radar-base/admins

# RFCs
rfcs/** @radar-base/admins

# Component ownership
# Organize RFCs under these folders to route reviews automatically
rfcs/platform/**  @yatharthranjan @afolarin @baixiac @mpgxvii @pvannierop
rfcs/backend/**   @yatharthranjan @afolarin @mpgxvii @pvannierop @this-Aditya @ewelinagr
rfcs/mobile/**    @mpgxvii @this-Aditya @ec18130 @peyman-mohtashami

# GitHub metadata and workflows
.github/** @radar-base/admins


